<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- Navigation -->
    <%- partial("_partial/zh-cn-navbar") %>

    <!-- Sidebar -->
    <%- partial("_partial/zh-cn-sidebar") %>
    
    <div class="material-content mdl-layout__content">
        <a name="top"></a>
        <div class="material-be-together-section mdl-typography--text-center">
            <div class="logo-font material-slogan" >原之质，物之渊</div>
            <div class="logo-font material-sub-slogan">Material Theme</div>
            <div class="logo-font material-create-character">
                <a href="https://github.com/viosey/hexo-theme-material" target="_blank">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect get-the-theme">
                        <img src="/images/github.svg"> Github
                    </button>
                </a>


            </div>

            <a href="./start/#install-material">
                <button class="material-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                    <i class="material-icons">get_app</i>
                </button>
            </a>
        </div>
        
        <div class="material-screen-section mdl-typography--text-center">
            <a name="screens"></a>
            <div class="mdl-typography--display-1-color-contrast" >响应式设计</div>
            <p class="mdl-typography--font-light material-intro-scheme">
                <a href="https://blog.viosey.com" target="_blank" class="material-link mdl-typography--font-light" >实时预览 「Paradox」</a>
            </p>
            <div class="material-screens">
                <div class="material-nexus6p material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/Nexus-6P.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">Nexus 6P</span>
                </div>
                <div class="material-phone material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/Nexus-5.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">Nexus 5</span>
                </div>
                <div class="material-tablet material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/iPad-Pro.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">iPad Pro</span>
                </div>
                <div class="material-tv material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/Macbook-Flat.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">MacBook Pro</span>
                </div>
                <div class="material-auto material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/iMac-Flat.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">iMac</span>
                </div>
            </div>
        </div>

        <div class="material-lang-section">
            <div class="material-lang-img"></div>
            
            <%- partial("_partial/i18n_list") %>
            
            <div class="material-lang-band">
                <div class="material-lang-band-text">
                    <div class="mdl-typography--display-2 mdl-typography--font-thin" >打造 i18n 友好</div>
                    <p class="mdl-typography--headline mdl-typography--font-thin" >
                        没有找到您的语言？
                    </p>
                    <p>
                        <a class="mdl-typography--font-regular mdl-typography--text-uppercase material-alt-link" target="_blank" href="https://github.com/viosey/hexo-theme-material/tree/master/languages">
                            <span >改进主题的翻译</i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="material-customized-section">
            <div class="material-customized-section-text">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast" >由您随心定制</div>
                <p class="mdl-typography--font-light material-intro-scheme">
                    <span >Material 主题内置 3 种分支样式</span>
                    <br>
                    <a href="./intro/#uiux" target="_blank" class="material-link mdl-typography--font-light" >定制您的主题</a>
                </p>
            </div>
            <div class="material-customized-section-image"></div>
        </div>
        
        <div class="material-more-section">
            <div class="material-section-title mdl-typography--display-1-color-contrast" >来自 Material 的更多内容</div>

            <div class="material-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/more/services.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text" >第三方集成服务</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead" >Material 集成了多种第三方服务以扩展站点功能</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="material-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/services/" target="_blank">
                            <span >添加服务</span>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/more/pages.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text" >多种独立页面</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead" >Material 内置友情链接、画廊等页面</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="material-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/compose/" target="_blank">
                            <span >创建页面</span>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/more/design.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text" >设计与众不同的 UI</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead" >成为 Web 艺术家！Material 可以自定义背景、各种组件颜色、Markdown 样式、图标...</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="material-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/expert/" target="_blank">
                            <span >现在创作</span>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/more/contributor.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text" >成为协助开发者</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead" >欢迎各种形式的贡献，包括但不限于优化，添加功能，文档 &amp; 代码的改进</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="material-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://github.com/viosey/hexo-theme-material/pulls" target="_blank">
                            <span>Pull Request</span>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- partial("_partial/zh-cn-footer") %>

    </div>
</div>