<!DOCTYPE html>
<!--
  Material Theme
  Copyright 2016 Viosey. All rights reserved.

  Licensed under the GPL v3.0 License (GNU AFFERO GENERAL PUBLIC LICENSE);
-->
<html>
    <%- partial('_partial/head') %>
	
    <body>
        
        <div>
            <%- body %>
        </div>
        
    <%- partial('_partial/import_js') %>
    </body>
</html>