<div class="material-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
          <img class="material-logo-image" src="/images/logo-white.png">
        </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/en/">Home</a>
        <a class="mdl-navigation__link" href="/en/start/">Start</a>
        <a class="mdl-navigation__link" href="/en/intro/">Intro</a>
        <a class="mdl-navigation__link" href="/en/compose/">Compose</a>
        <a class="mdl-navigation__link" href="/en/expert/">Expert</a>
        <a class="mdl-navigation__link" href="/en/services/">Services</a>
        <a class="mdl-navigation__link" href="https://github.com/viosey/hexo-theme-material/issues?q=is%3Aissue" target="_blank">Q&nbsp;&amp;&nbsp;A</a>

        <div class="material-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">Help &amp; Support</span>
        <a class="mdl-navigation__link" href="https://gitter.im/material-theme/hexo" target="_blank">Discussion</a>
        <a class="mdl-navigation__link" href="https://github.com/viosey/hexo-theme-material/issues" target="_blank">Feedback</a>

        <div class="material-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">Donate</span>
        <a href="https://www.paypal.me/viosey" target="_blank">
            <li class="mdl-navigation__link" id="PayPal">PayPal</li>
        </a>
        <a class="mdl-navigation__link BTCBn">Bitcoin</a>
        <a class="mdl-navigation__link AliPay">Alipay</a>
        <a class="mdl-navigation__link WeChat">WeChat</a>
    </nav>
</div>