<div class="material-lang-list">
    <table>
        <tbody>
            <tr>
                <td>Deutsche</td>
                <td>Hallo</td>
            </tr>
            <tr>
                <td>English</td>
                <td>Hello</td>
            </tr>
            <tr>
                <td>Español</td>
                <td>Hola</td>
            </tr>
            <tr>
                <td>Français</td>
                <td>Bonjour</td>
            </tr>
            <tr>
                <td>Malay</td>
                <td>Hello</td>
            </tr>
            <tr>
                <td>日本語</td>
                <td>こんにちは</td>
            </tr>
            <tr>
                <td>العَرَبِيَّة</td>
                <td>هتاف للترحيب</td>
            </tr>
            <tr>
                <td>简体中文</td>
                <td>您好</td>
            </tr>
            <tr>
                <td>繁體中文</td>
                <td>您好</td>
            </tr>
        </tbody>
    </table>
</div>