<div class="material-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
          <img class="material-logo-image" src="/images/logo-white.png">
        </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">主页</a>
        <a class="mdl-navigation__link" href="/start/">开始使用</a>
        <a class="mdl-navigation__link" href="/intro/">主题介绍</a>
        <a class="mdl-navigation__link" href="/compose/">开始创作</a>
        <a class="mdl-navigation__link" href="/expert/">进阶设定</a>
        <a class="mdl-navigation__link" href="/services/">集成服务</a>
        <a class="mdl-navigation__link" href="https://github.com/viosey/hexo-theme-material/issues?q=is%3Aissue" target="_blank">常见问题</a>

        <div class="material-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">帮助与支持</span>
        <a class="mdl-navigation__link" href="https://gitter.im/material-theme/hexo" target="_blank">加入讨论</a>
        <a class="mdl-navigation__link" href="https://github.com/viosey/hexo-theme-material/issues" target="_blank">问题反馈</a>

        <div class="material-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">捐赠</span>
        <a href="https://www.paypal.me/viosey" target="_blank">
            <li class="mdl-navigation__link" id="PayPal">PayPal</li>
        </a>
        <a class="mdl-navigation__link BTCBn">比特币</a>
        <a class="mdl-navigation__link AliPay">支付宝</a>
        <a class="mdl-navigation__link WeChat">微信支付</a>
    </nav>
</div>