<footer class="material-footer mdl-mega-footer">
    <div class="mdl-mega-footer--top-section">
        <div class="mdl-mega-footer--left-section">
            <a href="https://github.com/viosey/hexo-theme-material" target="_blank">
                <button class="mdl-mega-footer--social-btn"><img src="/images/footer/github1.svg"></button>
            </a>
            &nbsp;
            <a href="https://www.instagram.com/material.theme/" target="_blank">
                <button class="mdl-mega-footer--social-btn"><img src="/images/footer/instagram1.svg"></button>
            </a>
            &nbsp;
            <a href="https://twitter.com/viosey" target="_blank">
                <button class="mdl-mega-footer--social-btn"><img src="/images/footer/twitter1.svg"></button>
            </a>
        </div>
        <div class="mdl-mega-footer--right-section">
            <a class="mdl-typography--font-light toTop" href="#top">
							Back to Top
							<i class="material-icons">expand_less</i>
						  </a>
        </div>
    </div>

    <div class="mdl-mega-footer--middle-section">
        <p class="mdl-typography--font-light">© 2016 <a href="https://viosey.com" target="_blank">Viosey</a></p>
        <p class="mdl-typography--font-light">Made with ♥</p>
    </div>

    <div class="mdl-mega-footer--bottom-section">

        <!-- Donate -->
        <a class="material-link material-link-menu mdl-typography--font-light" id="version-dropdown">
            <span>捐赠</span>
            <i class="material-icons">arrow_drop_up</i>
        </a>
        <ul id="donateBox" class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
            <a href="https://www.paypal.me/viosey" target="_blank">
                <li class="mdl-menu__item" id="PayPal">PayPal</li>
            </a>
            <li class="mdl-menu__item BTCBn">比特币</li>
            <li class="mdl-menu__item AliPay">支付宝</li>
            <li class="mdl-menu__item WeChat">微信支付</li>
        </ul>

        <!-- Discussion -->
        <a class="material-link mdl-typography--font-light" href="https://0gitter.im/material-theme/hexo" target="_blank">加入讨论</a>

        <!-- Feedback -->
        <a class="material-link mdl-typography--font-light" href="https://github.com/viosey/hexo-theme-material/issues" target="_blank">问题反馈</a>
        
        <!-- Changelog -->
        <a class="material-link mdl-typography--font-light" href="/changelog/" target="_blank">更新日志</a>
        
        <!-- Docs -->
        <a class="material-link mdl-typography--font-light" href="https://github.com/viosey/material-theme-docs" target="_blank">文档的 Github</a>

    </div>

</footer>