<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- Navigation -->
    <%- partial("_partial/en-navbar") %>

    <!-- Sidebar -->
    <%- partial("_partial/en-sidebar") %>
    
    <div class="material-content mdl-layout__content">
        <a name="top"></a>
        <div class="material-be-together-section mdl-typography--text-center">
            <div class="logo-font material-slogan" >Nature, Source</div>
            <div class="logo-font material-sub-slogan">Material Theme</div>
            <div class="logo-font material-create-character">
                <a href="https://github.com/viosey/hexo-theme-material" target="_blank">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect get-the-theme">
                        <img src="/images/github.svg"> Github
                    </button>
                </a>


            </div>

            <a href="./start/#install-material">
                <button class="material-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                    <i class="material-icons">get_app</i>
                </button>
            </a>
        </div>
        
        <div class="material-screen-section mdl-typography--text-center">
            <a name="screens"></a>
            <div class="mdl-typography--display-1-color-contrast" >Responsive Design</div>
            <p class="mdl-typography--font-light material-intro-scheme">
                <a href="https://blog.viosey.com" target="_blank" class="material-link mdl-typography--font-light" >"Paradox" Live Preview</a>
            </p>
            <div class="material-screens">
                <div class="material-nexus6p material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/Nexus-6P.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">Nexus 6P</span>
                </div>
                <div class="material-phone material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/Nexus-5.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">Nexus 5</span>
                </div>
                <div class="material-tablet material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/iPad-Pro.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">iPad Pro</span>
                </div>
                <div class="material-tv material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/Macbook-Flat.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">MacBook Pro</span>
                </div>
                <div class="material-auto material-screen">
                    <span class="material-image-link">
							<img class="material-screen-image" src="/images/mockup/iMac-Flat.png">
						</span>
                    <span class="material-link mdl-typography--font-regular mdl-typography--text-uppercase">iMac</span>
                </div>
            </div>
        </div>

        <div class="material-lang-section">
            <div class="material-lang-img"></div>
            
            <%- partial("_partial/i18n_list") %>
            
            <div class="material-lang-band">
                <div class="material-lang-band-text">
                    <div class="mdl-typography--display-2 mdl-typography--font-thin" >Build i18n friendly</div>
                    <p class="mdl-typography--headline mdl-typography--font-thin" >
                        Do not find your language?
                    </p>
                    <p>
                        <a class="mdl-typography--font-regular mdl-typography--text-uppercase material-alt-link" target="_blank" href="https://github.com/viosey/hexo-theme-material/tree/master/languages">
                            <span >Improve the translation</i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="material-customized-section">
            <div class="material-customized-section-text">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast" >Customised by you</div>
                <p class="mdl-typography--font-light material-intro-scheme">
                    <span >Material theme has 3 built-in branch styles</span>
                    <br>
                    <a href="./intro/#uiux" target="_blank" class="material-link mdl-typography--font-light" >Customise your theme</a>
                </p>
            </div>
            <div class="material-customized-section-image"></div>
        </div>
        
        <div class="material-more-section">
            <div class="material-section-title mdl-typography--display-1-color-contrast" >More from Material</div>

            <div class="material-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/more/services.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text" >Integrated services</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead" >Material integrates a variety of third-party services to extend site functionality</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="material-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/en/services/" target="_blank">
                            <span >Add services</span>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/more/pages.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text" >Multiple independent pages</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead" >Material has built-in links, galleries and other pages</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="material-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/en/compose/" target="_blank">
                            <span >Create them</span>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/more/design.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text" >Design a unique UI</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead" >Become a Web artist! Material can customize the background, various component colors, Markdown styles, icons ...</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="material-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/en/expert/" target="_blank">
                            <span >Compose now</span>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                    <div class="mdl-card__media">
                        <img src="/images/more/contributor.png">
                    </div>
                    <div class="mdl-card__title">
                        <h4 class="mdl-card__title-text" >Be a contributor</h4>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-typography--font-light mdl-typography--subhead" >Welcome all kinds of contributions (enhancements, features, documentation & code improvements, issues & bugs reporting).</span>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="material-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://github.com/viosey/hexo-theme-material/pulls" target="_blank">
                            <span>Pull Request</span>
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- partial("_partial/en-footer") %>
        
        <div id="QRBox-wrapper">
            <div id="QRBox" class="pos-f left-100">
                <div id="MainBox"></div>
            </div>
        </div>

    </div>
</div>